In [48]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.api import VAR
from statsmodels.stats.diagnostic import acorr_ljungbox
from statsmodels.tsa.stattools import grangercausalitytests

# Intitial overview and processing of the datasets

In [49]:
# Load data
commodity_prices = pd.read_excel('Data/Processed/DAILY_COMMODITY_PRICES.xlsx')
exchange_rates = pd.read_excel('Data/Processed/DAILY_EXCHANGE_RATES.xlsx')
stock_prices = pd.read_excel('Data/Processed/DAILY_STOCK_PRICES.xlsx')

In [50]:
commodity_prices.head()

        Date      Price     Change   % Change  Cumulative Change %     Ticker
0 2018-01-02  50.781433  20.599633  68.251837            68.251837  HHGAS-FDS
1 2018-01-03  50.641342  -0.140091  -0.275871            67.787680  HHGAS-FDS
2 2018-01-04  37.605713 -13.035629 -25.741081            24.597317  HHGAS-FDS
3 2018-01-05  37.438774  -0.166939  -0.443919            24.044205  HHGAS-FDS
4 2018-01-08  23.359003 -14.079771 -37.607457           -22.605666  HHGAS-FDS

In [51]:
exchange_rates.head()

,Date,Bid,Ask,Mid,Change,% Change,Cumulative Change %,High,Low,Ticker
0,2018-01-02,8.366927,8.374588,8.370757,-0.022962,-0.273562,-0.273562,8.370757,8.370757,CHFNOK
1,2018-01-03,8.301750,8.310708,8.306228,-0.064529,-0.770886,-1.042339,8.306228,8.306228,CHFNOK
2,2018-01-04,8.291795,8.301693,8.296742,-0.009486,-0.114203,-1.155352,8.296742,8.296742,CHFNOK
3,2018-01-05,8.250410,8.259255,8.254831,-0.041911,-0.505150,-1.654666,8.254831,8.254831,CHFNOK
4,2018-01-08,8.273807,8.283168,8.278486,0.023655,0.286559,-1.372848,8.278486,8.278486,CHFNOK

In [52]:
stock_prices.head()

,Date,Price,CVol,Change,% Change,% Return,Total Return (Gross),Cumulative Return %,Open,High,Low,Cumulative Change %,Ticker
0,2018-01-02,204.2,310003.0,2.3,1.139178,1.139178,204.2,1.139178,204.0,205.4,202.6,1.139178,AKERBP-NO
1,2018-01-03,207.0,303887.0,2.8,1.371205,1.371205,207.0,2.526003,205.0,207.0,204.0,2.526003,AKERBP-NO
2,2018-01-04,208.2,529411.0,1.2,0.579710,0.579710,208.2,3.120357,209.0,210.2,207.4,3.120357,AKERBP-NO
3,2018-01-05,209.6,473251.0,1.4,0.672430,0.672430,209.6,3.813769,208.0,211.4,207.4,3.813769,AKERBP-NO
4,2018-01-08,211.2,411438.0,1.6,0.763359,0.763359,211.2,4.606241,209.8,214.2,209.6,4.606241,AKERBP-NO

### Process stock price dataset

In [53]:
# Identiy the unique stock tickers
unique_stocks = stock_prices['Ticker'].unique()
print(unique_stocks)

['AKERBP-NO' 'YAR-NO' 'XOM' 'KOG-NO' 'DNO-NO' 'NHY-NO' 'EQNR-NO' '2222-SA'
 'VAR-NO' 'SHEL-GB' 'DOFG-NO']

In [54]:
# Dictionary to store separate stock dataframes
stock_dataframes = {}
for ticker in unique_stocks:
    df = stock_prices[stock_prices['Ticker'] == ticker].copy()
    df = df[['Date', 'Price', '% Return']]  # Keep only relevant columns
    stock_dataframes[ticker] = df
    
# Check the dataframes
stock_dataframes['YAR-NO'].head()

           Date      Price  % Return
1793 2018-01-02  361.27866  0.637107
1794 2018-01-03  364.70940  0.949610
1795 2018-01-04  363.85170 -0.235174
1796 2018-01-05  367.28247  0.942903
1797 2018-01-08  375.09702  2.127668

<span style="color: red;">OBS! Exchange rate dataset stops one day ahead of the other datasets</span>

In [55]:
# Check alignment across datasets
print(commodity_prices['Date'].min(), commodity_prices['Date'].max())
print(exchange_rates['Date'].min(), exchange_rates['Date'].max())
print(stock_prices['Date'].min(), stock_prices['Date'].max())

2018-01-02 00:00:00 2025-03-20 00:00:00
2018-01-02 00:00:00 2025-03-19 00:00:00
2018-01-02 00:00:00 2025-03-20 00:00:00

### Process commodity dataset

In [56]:
# Extract only oildb commodity prices
# Identiy the unique stock tickers
unique_commodities = commodity_prices['Ticker'].unique()
print(unique_commodities)

['HHGAS-FDS' 'OILDB-FDS' 'AECOCAD-FDS' 'WTI-FDS']

In [57]:
# Dictionary to store separate commodity dataframes
commodity_dataframes = {}
for ticker in unique_commodities:
    df = commodity_prices[commodity_prices['Ticker'] == ticker].copy()
    df = df[['Date', 'Price']]  # Keep only relevant columns
    commodity_dataframes[ticker] = df
    
# Check the dataframes
commodity_dataframes['OILDB-FDS'].head()

           Date      Price
1814 2018-01-02  542.40106
1815 2018-01-03  550.64343
1816 2018-01-04  555.83670
1817 2018-01-05  547.57227
1818 2018-01-08  553.50330

### Process exchange rate dataset

In [58]:
# Identiy the unique exchange rates
unique_exchange_rates = exchange_rates['Ticker'].unique()
print(unique_exchange_rates)

['CHFNOK' 'USDNOK' 'GBPNOK' 'EURNOK']

In [59]:
# Dictionary to store separate exchange rate dataframes
exchange_rates_dataframes = {}
for ticker in unique_exchange_rates:
    df = exchange_rates[exchange_rates['Ticker'] == ticker].copy()
    df = df[['Date', 'Mid']]  # Keep only relevant columns
    exchange_rates_dataframes[ticker] = df
    
# Check the dataframes
exchange_rates_dataframes['USDNOK'].head()

           Date      Mid
1882 2018-01-02  8.13805
1883 2018-01-03  8.11560
1884 2018-01-04  8.08725
1885 2018-01-05  8.05135
1886 2018-01-08  8.08270

I have now got an initial overview of the datasets I will be working with. My goal in this notebook is to outperfrom the vanilla ARIMA model, by using Vector Autoregression (VAR). In my VAR I will include internal explanatory variables (for example differences in quarterly stock prices) and external variables (oil prices and currency exchange rates). 

An assumption of VAR is that the data is stationary (meaning that the statistical properties of a time series (e.g. mean...) do not change over time). Therefore, I will now perform Augmented Dickey-Fuller (ADF) test to check for stationarity.

# Checking VAR model assumptions

In [60]:
# Function to check stationarity

def check_stationarity(series, alpha=0.05):
    """
    series: pandas series, time series to check for stationarity
    alpha: float, significance level for the ADF test (default set to 5%)
    """
    result = adfuller(series.dropna()) # Perform ADF test (drop missing values)
    print(f'ADF Test for {series.name}: p-value = {result[1]}') # Print p-value
    return result[1] < alpha # Return True if p-value is less than alpha, meaning the series is stationary

In [61]:
akerbp_data = stock_dataframes['AKERBP-NO']
usdnok_data = exchange_rates_dataframes['USDNOK']
oildb_data = commodity_dataframes['OILDB-FDS']

for col in akerbp_data.columns[1:]:
    print(check_stationarity(akerbp_data[col]))

for col in usdnok_data.columns[1:]:
    print(check_stationarity(usdnok_data[col]))

for col in oildb_data.columns[1:]:
    print(check_stationarity(oildb_data[col]))

ADF Test for Price: p-value = 0.02932098934529945
True
ADF Test for % Return: p-value = 2.3031029343358103e-26
True
ADF Test for Mid: p-value = 0.4408838344005327
False
ADF Test for Price: p-value = 0.28990693778331733
False

I can see from the stationarity tests that the stock prices and % returns are stationary. However, the exchange rate dataset and oil price dataset are not stationary. To handle this, I transform them to being stationary by differencing them.

In [62]:
def transform_if_nonstationary(df):
    for col in df.columns[1:]:
        if not check_stationarity(df[col]):
            df[col] = df[col].diff().dropna()
    return df

In [63]:
transform_if_nonstationary(usdnok_data)
transform_if_nonstationary(oildb_data)

ADF Test for Mid: p-value = 0.4408838344005327
ADF Test for Price: p-value = 0.28990693778331733

           Date     Price
1814 2018-01-02       NaN
1815 2018-01-03   8.24237
1816 2018-01-04   5.19327
1817 2018-01-05  -8.26443
1818 2018-01-08   5.93103
...         ...       ...
3623 2025-03-14  10.58947
3624 2025-03-17  -9.06549
3625 2025-03-18 -11.68890
3626 2025-03-19   3.26125
3627 2025-03-20   4.20665

[1814 rows x 2 columns]

<span style="color: red;">OBS! Because we now use differences, we do not have a value for the first date</span>

In [64]:
# Check that the transformed data is now stationary

for col in usdnok_data.columns[1:]:
    print(check_stationarity(usdnok_data[col]))

for col in oildb_data.columns[1:]:
    print(check_stationarity(oildb_data[col]))

ADF Test for Mid: p-value = 1.6157129149344982e-26
True
ADF Test for Price: p-value = 8.101934836117796e-15
True

# Train the VAR model

In [ ]:
combined_data = akerbp_data.merge(usdnok_data, on='Date').merge(oildb_data, on='Date')
combined_data = combined_data.dropna() # Drop NaN values (the first row will be NaN due to differencing)
combined_data.head()

        Date  Price_x  % Return      Mid  Price_y
1 2018-01-03    207.0  1.371205 -0.02245  8.24237
2 2018-01-04    208.2  0.579710 -0.02835  5.19327
3 2018-01-05    209.6  0.672430 -0.03590 -8.26443
4 2018-01-08    211.2  0.763359  0.03135  5.93103
5 2018-01-09    214.0  1.325758  0.03380  7.18450

In [69]:
model = VAR(combined_data.drop('Date', axis=1))

lag_selection = model.select_order(maxlags=10)
optimal_lag = lag_selection.aic

print(f'Optimal lag (AIC): {optimal_lag}')
var_model = model.fit(optimal_lag)
print(var_model.summary())

/Users/frederickpretlove/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: An unsupported index was provided. As a result, forecasts cannot be generated. To use the model for forecasting, use one of the supported classes of index.
  self._init_dates(dates, freq)

Optimal lag (AIC): 10
  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Wed, 26, Mar, 2025
Time:                     11:04:00
--------------------------------------------------------------------
No. of Equations:         4.00000    BIC:                    3.85414
Nobs:                     1733.00    HQIC:                   3.52868
Log likelihood:          -12564.2    FPE:                    28.1542
AIC:                      3.33766    Det(Omega_mle):         25.6403
--------------------------------------------------------------------
Results for equation Price_x
===============================================================================
                  coefficient       std. error           t-stat            prob
-------------------------------------------------------------------------------
const                2.450233         0.828545            2.957           0.003
L1.Price_x           0.831076         0.081417           10.208           0.000
L1.% Return          0.371729         0.205091            1.813           0.070
L1.Mid              -0.302467         2.167848           -0.140           0.889
L1.Price_y           0.040228         0.010056            4.001           0.000
L2.Price_x           0.170192         0.116237            1.464           0.143
L2.% Return         -0.026278         0.205783           -0.128           0.898
L2.Mid               1.141580         2.167339            0.527           0.598
L2.Price_y          -0.014949         0.010105           -1.479           0.139
L3.Price_x          -0.036667         0.115282           -0.318           0.750
L3.% Return          0.334002         0.205222            1.628           0.104
L3.Mid               3.576299         2.169738            1.648           0.099
L3.Price_y          -0.028455         0.010132           -2.808           0.005
L4.Price_x           0.167757         0.113390            1.479           0.139
L4.% Return         -0.327589         0.204070           -1.605           0.108
L4.Mid               1.054614         2.168837            0.486           0.627
L4.Price_y           0.001809         0.010157            0.178           0.859
L5.Price_x          -0.147938         0.113202           -1.307           0.191
L5.% Return          0.163232         0.204077            0.800           0.424
L5.Mid               0.542416         2.166023            0.250           0.802
L5.Price_y          -0.034752         0.010160           -3.421           0.001
L6.Price_x           0.045643         0.112922            0.404           0.686
L6.% Return         -0.109304         0.203548           -0.537           0.591
L6.Mid               2.266570         2.158198            1.050           0.294
L6.Price_y          -0.031879         0.010219           -3.120           0.002
L7.Price_x          -0.049514         0.112952           -0.438           0.661
L7.% Return          0.258712         0.204798            1.263           0.206
L7.Mid              -2.552904         2.163729           -1.180           0.238
L7.Price_y           0.006780         0.010251            0.661           0.508
L8.Price_x           0.037013         0.114946            0.322           0.747
L8.% Return         -0.065131         0.206768           -0.315           0.753
L8.Mid               0.581953         2.153575            0.270           0.787
L8.Price_y          -0.009060         0.010264           -0.883           0.377
L9.Price_x           0.065934         0.115812            0.569           0.569
L9.% Return         -0.153251         0.206491           -0.742           0.458
L9.Mid              -0.987606         2.147721           -0.460           0.646
L9.Price_y          -0.001561         0.010265           -0.152           0.879
L10.Price_x         -0.092957         0.081214           -1.145           0.252
L10.% Return         0.033529         0.072667            0.461           0.645
L10.Mid              6.167848         2.133932            2.890           0.004
L10.Price_y          0.004057         0.010172            0.399           0.690
===============================================================================

Results for equation % Return
===============================================================================
                  coefficient       std. error           t-stat            prob
-------------------------------------------------------------------------------
const                1.176073         0.328438            3.581           0.000
L1.Price_x          -0.080933         0.032274           -2.508           0.012
L1.% Return          0.211758         0.081299            2.605           0.009
L1.Mid               0.395687         0.859343            0.460           0.645
L1.Price_y           0.012452         0.003986            3.124           0.002
L2.Price_x           0.057454         0.046077            1.247           0.212
L2.% Return          0.078930         0.081573            0.968           0.333
L2.Mid               1.106979         0.859141            1.288           0.198
L2.Price_y          -0.007178         0.004006           -1.792           0.073
L3.Price_x          -0.024500         0.045698           -0.536           0.592
L3.% Return          0.243055         0.081351            2.988           0.003
L3.Mid               1.691495         0.860092            1.967           0.049
L3.Price_y          -0.009070         0.004017           -2.258           0.024
L4.Price_x           0.107371         0.044948            2.389           0.017
L4.% Return         -0.146929         0.080894           -1.816           0.069
L4.Mid               0.849194         0.859734            0.988           0.323
L4.Price_y          -0.000078         0.004026           -0.019           0.985
L5.Price_x          -0.066979         0.044874           -1.493           0.136
L5.% Return          0.075949         0.080897            0.939           0.348
L5.Mid              -0.140821         0.858619           -0.164           0.870
L5.Price_y          -0.011536         0.004027           -2.864           0.004
L6.Price_x           0.070407         0.044763            1.573           0.116
L6.% Return         -0.176033         0.080687           -2.182           0.029
L6.Mid               1.241129         0.855517            1.451           0.147
L6.Price_y          -0.014363         0.004051           -3.546           0.000
L7.Price_x          -0.130128         0.044774           -2.906           0.004
L7.% Return          0.264904         0.081182            3.263           0.001
L7.Mid              -0.506885         0.857710           -0.591           0.555
L7.Price_y           0.003474         0.004063            0.855           0.393
L8.Price_x           0.087708         0.045565            1.925           0.054
L8.% Return         -0.067774         0.081964           -0.827           0.408
L8.Mid               0.716619         0.853685            0.839           0.401
L8.Price_y          -0.000796         0.004069           -0.196           0.845
L9.Price_x           0.014496         0.045908            0.316           0.752
L9.% Return         -0.086426         0.081854           -1.056           0.291
L9.Mid              -0.461368         0.851364           -0.542           0.588
L9.Price_y           0.000453         0.004069            0.111           0.911
L10.Price_x         -0.039282         0.032194           -1.220           0.222
L10.% Return         0.007667         0.028806            0.266           0.790
L10.Mid              2.682414         0.845898            3.171           0.002
L10.Price_y          0.002263         0.004032            0.561           0.575
===============================================================================

Results for equation Mid
===============================================================================
                  coefficient       std. error           t-stat            prob
-------------------------------------------------------------------------------
const               -0.015412         0.009850           -1.565           0.118
L1.Price_x           0.003323         0.000968            3.433           0.001
L1.% Return         -0.010456         0.002438           -4.288           0.000
L1.Mid              -0.020289         0.025773           -0.787           0.431
L1.Price_y          -0.000170         0.000120           -1.421           0.155
L2.Price_x           0.001044         0.001382            0.755           0.450
L2.% Return         -0.010965         0.002447           -4.482           0.000
L2.Mid              -0.036202         0.025767           -1.405           0.160
L2.Price_y          -0.000081         0.000120           -0.678           0.498
L3.Price_x          -0.003823         0.001371           -2.789           0.005
L3.% Return         -0.003150         0.002440           -1.291           0.197
L3.Mid              -0.032876         0.025796           -1.274           0.202
L3.Price_y           0.000161         0.000120            1.333           0.183
L4.Price_x           0.001095         0.001348            0.812           0.417
L4.% Return         -0.003518         0.002426           -1.450           0.147
L4.Mid               0.026685         0.025785            1.035           0.301
L4.Price_y          -0.000127         0.000121           -1.054           0.292
L5.Price_x          -0.001257         0.001346           -0.934           0.350
L5.% Return         -0.003801         0.002426           -1.567           0.117
L5.Mid              -0.039904         0.025751           -1.550           0.121
L5.Price_y           0.000447         0.000121            3.702           0.000
L6.Price_x           0.000612         0.001343            0.456           0.649
L6.% Return         -0.003727         0.002420           -1.540           0.124
L6.Mid              -0.084121         0.025658           -3.279           0.001
L6.Price_y           0.000259         0.000121            2.135           0.033
L7.Price_x           0.001444         0.001343            1.076           0.282
L7.% Return         -0.007615         0.002435           -3.128           0.002
L7.Mid               0.016237         0.025724            0.631           0.528
L7.Price_y           0.000150         0.000122            1.232           0.218
L8.Price_x          -0.003252         0.001367           -2.380           0.017
L8.% Return          0.003782         0.002458            1.539           0.124
L8.Mid               0.039046         0.025603            1.525           0.127
L8.Price_y          -0.000108         0.000122           -0.881           0.378
L9.Price_x          -0.000931         0.001377           -0.676           0.499
L9.% Return          0.003827         0.002455            1.559           0.119
L9.Mid               0.019821         0.025534            0.776           0.438
L9.Price_y          -0.000269         0.000122           -2.207           0.027
L10.Price_x          0.001819         0.000966            1.884           0.060
L10.% Return         0.002278         0.000864            2.637           0.008
L10.Mid             -0.038509         0.025370           -1.518           0.129
L10.Price_y         -0.000080         0.000121           -0.665           0.506
===============================================================================

Results for equation Price_y
===============================================================================
                  coefficient       std. error           t-stat            prob
-------------------------------------------------------------------------------
const                1.651743         2.247487            0.735           0.462
L1.Price_x           0.375661         0.220851            1.701           0.089
L1.% Return         -0.623600         0.556325           -1.121           0.262
L1.Mid              -1.898036         5.880443           -0.323           0.747
L1.Price_y          -0.019155         0.027277           -0.702           0.483
L2.Price_x          -0.393829         0.315300           -1.249           0.212
L2.% Return          0.428005         0.558200            0.767           0.443
L2.Mid               5.853425         5.879062            0.996           0.319
L2.Price_y          -0.082675         0.027411           -3.016           0.003
L3.Price_x          -0.254527         0.312710           -0.814           0.416
L3.% Return          1.200410         0.556681            2.156           0.031
L3.Mid               9.269000         5.885569            1.575           0.115
L3.Price_y          -0.052235         0.027485           -1.900           0.057
L4.Price_x           0.588905         0.307578            1.915           0.056
L4.% Return         -0.725847         0.553556           -1.311           0.190
L4.Mid              -1.187871         5.883124           -0.202           0.840
L4.Price_y           0.029562         0.027550            1.073           0.283
L5.Price_x          -0.307555         0.307069           -1.002           0.317
L5.% Return         -0.127833         0.553573           -0.231           0.817
L5.Mid               3.321306         5.875491            0.565           0.572
L5.Price_y          -0.034113         0.027559           -1.238           0.216
L6.Price_x           0.105025         0.306308            0.343           0.732
L6.% Return         -0.212427         0.552139           -0.385           0.700
L6.Mid              -3.540540         5.854265           -0.605           0.545
L6.Price_y          -0.072710         0.027719           -2.623           0.009
L7.Price_x          -0.236378         0.306390           -0.771           0.440
L7.% Return          0.846791         0.555528            1.524           0.127
L7.Mid               3.373972         5.869268            0.575           0.565
L7.Price_y          -0.012987         0.027806           -0.467           0.640
L8.Price_x          -0.356106         0.311799           -1.142           0.253
L8.% Return          1.260746         0.560873            2.248           0.025
L8.Mid               5.413437         5.841727            0.927           0.354
L8.Price_y           0.013418         0.027841            0.482           0.630
L9.Price_x           0.441406         0.314147            1.405           0.160
L9.% Return         -0.291635         0.560123           -0.521           0.603
L9.Mid              -6.020542         5.825846           -1.033           0.301
L9.Price_y          -0.007530         0.027845           -0.270           0.787
L10.Price_x          0.031337         0.220300            0.142           0.887
L10.% Return        -0.113255         0.197115           -0.575           0.566
L10.Mid             -2.479526         5.788443           -0.428           0.668
L10.Price_y          0.008525         0.027592            0.309           0.757
===============================================================================

Correlation matrix of residuals
             Price_x  % Return       Mid   Price_y
Price_x     1.000000  0.953772 -0.273804  0.420263
% Return    0.953772  1.000000 -0.289791  0.407576
Mid        -0.273804 -0.289791  1.000000  0.050588
Price_y     0.420263  0.407576  0.050588  1.000000

<span style="color: green;">Possible expansions: Adding new columns (like quarterly differences in price), other commodities and exchange rates etc.</span>